@page "/"
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>
<canvas id="@canvaseId" width="600" height="600"/>
@code {
    Guid canvaseId = Guid.NewGuid();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JS.InvokeVoidAsync("InitGPU", canvaseId);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

}